<!doctype html> This is where we upload
<br>
<br> My File name: {{filename}}
<title>Upload new File</title>
<h1>Upload new File</h1>
<form id="myForm" name="myForm" method=post enctype=multipart/form-data>

        <input type=file name=file>
        <input type=submit value=Upload>
</form>
<form id="editForm" action="{{url}}" name="editForm" method="post">
  {% if contents != []%}
    <table style="width:50%" name="csv_table" id="csv_table">
      <tr>
          <th>{{contents[0][0]}}</th>
          <th>{{contents[0][1]}}</th>
          <th>{{contents[0][2]}}</th>
      </tr>
      {% for line in contents %} {% if loop.index > 1 %}
      <tr>
          <td align="center" name="trace_id[{{loop.index}}]" contenteditable="true" value={{line[0]}}>{{line[0]}}</td>
          <td align="center" name="edge_cache[{{loop.index}}]" contenteditable="true" value={{line[1]}}>{{line[1]}}</td>
          <td align="center" name="mid_cache[{{loop.index}}]" contenteditable="true" value={{line[2]}}>{{line[2]}}</td>
      </tr>
      {% endif %} {% endfor %}
  </table>
</form>
<button id="submit">Submit</button>
{% endif %}